

#scrollUp
{
	position: fixed;
	bottom : 10px;
	left: 10px;
}

body {
    background-image: url("https://i.imgur.com/sxwVXz6.png");
    background-attachment: fixed;
    font-family: "Trebuchet MS", Arial, sans-serif;
}