body {
    font-family: "Trebuchet MS", Arial, sans-serif;
}

table
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
    max-width: 85%;
    background-color: white;
}
td
{
    border: 1px solid black;
}

body#STR{background: url("https://i.imgur.com/CYeWO5Z.png");-webkit-background-size: 100%; }
body#QCK{background: url("https://i.imgur.com/gIyHbZf.png");-webkit-background-size: 100%; }
body#DEX{background: url("https://i.imgur.com/wZQRjSO.png");-webkit-background-size: 100%; }
body#PSY{background: url("https://i.imgur.com/uEGo1Im.png");-webkit-background-size: 100%; }
body#INT{background: url("https://i.imgur.com/gdHqEUa.png");-webkit-background-size: 100%; }
body#DEXSTR{background: url("https://i.imgur.com/RtOyT08.png");-webkit-background-size: 100%; }
body#SengokuGarp{background: url("https://i.imgur.com/yHcksWt.png");-webkit-background-size: 100%; }
body#ShanksMihawk{background: url("https://i.imgur.com/rIRMnSf.png");-webkit-background-size: 100%; }
body#MagellanHannyabal{background: url("https://i.imgur.com/2Y4RwCQ.png");-webkit-background-size: 100%; }



#scrollUp
{
	position: fixed;
	bottom : 10px;
	left: 10px;
}