.characters {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.characters span {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 70px;
}
.characters span img {
  width: 100%;
  height: 100%;
}
.characters::-moz-selection,
.characters span::-moz-selection,
.characters img::-moz-selection {
  background: none;
}
.characters::selection,
.characters span::selection,
.characters img::selection {
  background: none;
}
.characters span:not(.selected) img {
  -webkit-filter: grayscale(60%) brightness(60%);
  filter: grayscale(60%) brightness(60%);
}

table,
tr,
td {
  background-color: transparent;
  border-color: transparent;
}

tr td:nth-child(even) {
  padding-right: 20px;
}

td h3 {
  margin-left: 5px;
}

h1,
h2 {
  text-decoration: underline;
}

.avancees-container {
  text-align: center;
}

.avancees-container table {
  text-align: left;
  margin: 0 auto;
  margin-bottom: 50px;
}

.avancees-header {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
  width: 1050px;
  margin-bottom: 50px;
}

.avancees-header li {
  list-style: none;
  display: flex;
  align-items: center;
  width: 450px;
  margin-top: 30px;
  margin-left: 50px;
}

.avancees-header li h3 {
  margin-left: 20px;
  text-align: left;
}

round-slider {
  max-width: 70px;
  transition: all 1.3s ease-out 0s;
}

round-slider.scaling:hover {
  max-width: 400px;
}

.slider-element {
  position: relative;
  width: 70px;
  background-image: url('https://i.imgur.com/AwtGfag.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-element.disabled {
  background-image: url('https://i.imgur.com/nZLvPPm.png');
}

.slider-value {
  position: absolute;
  top: 20px;
  left: 28px;
  font-size: 25px;
}

.characters-container {
  margin-top: 20px;
}

.llb-info {
  text-align: left;
  font-weight: bold;
  font-size: 16px;
}

.llb-container {
  background-color: rgba(255,255,255,0.8);
  width: fit-content;
  padding: 10px;
  margin-left: 20px;
}