h1,
h2 {
  text-decoration: underline;
}

.fiche-container {
  text-align: center;
}

.fiche-table {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.fiche-table tr td {
  padding: 2px;
  padding-left: 4px;
}

.fiche-table tr td:first-of-type {
  width: 200px;
}

.fiche-table tr td.centered-td {
  text-align: center;
  padding: 10px;
}
