h1,
h2 {
  text-decoration: underline;
}

.fiche-container {
  text-align: center;
}

.fiche-table {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.fiche-table tr td {
  padding: 2px;
  padding-left: 4px;
}

.fiche-table tr td:first-of-type {
  width: 200px;
}

.fiche-table tr td.centered-td {
  text-align: center;
  padding: 10px;
}

.character-artworks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.character-artworks img:first-of-type {
  margin-right: 50px;
}

@media screen and (max-width: 1200px) {
  .character-artworks {
    flex-direction: column;
  }

  .character-artworks img:first-of-type {
    margin-right: 0;
  }
}

/* .six-stars {
  display: none;
} */

.fiche-choices {
  text-align: center;
  margin: 20px 0;
}

.classic-ability,
.llb-ability,
.lbplus-ability {
  display: none;
}

h1, h2, h3, img {
  text-align: center;
}

h2+img{
  display: block;
  margin: 0 auto;
  text-align: center;
}

h2+img+img{
  display: block;
  margin: 0 auto;
  text-align: center;
}

h2+img+img+img{
  display: block;
  margin: 0 auto;
  text-align: center;
}

h2+img+img+img+img{
  display: block;
  margin: 0 auto;
  text-align: center;
}
/*
body {
  text-align: center;
  overflow-x: hidden;
}

.fiche-table {
  text-align: left;
} */