table {
  background-color: transparent;
}

h1,
h2 {
  text-decoration: underline;
}

.list-container {
  text-align: center;
}

.list-container ul {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  max-width: 625px;
  margin: 0 auto;
}

.list-container ul li {
  list-style: none;
  margin-right: 5px;
  margin-top: 5px;
}
