body {
    font-family: "Trebuchet MS", Arial, sans-serif;
}

table
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
    max-width: 85%;
}
td
{
    border: 1px solid black;
}

.Cadre
{
	border: 0px solid black;
}

body#STR{background: linear-gradient(to right, red, white, white, white, white, white, red);}
body#QCK{background: linear-gradient(to right, blue, white, white, white, white, white, blue);}
body#DEX{background: linear-gradient(to right, green, white, white, white, white, white, green);}
body#PSY{background: linear-gradient(to right, yellow, white, white, white, white, white, yellow);}
body#INT{background: linear-gradient(to right, purple, white, white, white, white, white, purple);}
body#SanjiZoro{background: linear-gradient(to right, yellow, white, white, white, white, white, green);}

#scrollUp
{
	position: fixed;
	bottom : 10px;
	left: 10px;
}

.tooltip {
      position: fixed;
      z-index: 100;

      padding: 10px 20px;

      border: 1px solid #b3c9ce;
      border-radius: 4px;
      text-align: center;
      color: #333;
      background: #fff;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    }
body {
    background-image: url("https://i.imgur.com/sxwVXz6.png");
    background-attachment: fixed;
}